
*.ide-wal
*.ide-shm
*.ide
*.lock
Tech-1BasicSyntax/.vs/Tech-1BasicSyntax/DesignTimeBuild/.dtbcache
Tech-1BasicSyntax/.vs/Tech-1BasicSyntax/v15/.suo
Tech-10-RegularExpressions/.vs/Tech-10-RegularExpressions/v15/.suo
Tech-1-BasicSyntax-Lab/.vs/Tech-1BasicSyntax-Lab/DesignTimeBuild/.dtbcache
Tech-1-BasicSyntax-Lab/.vs/Tech-1BasicSyntax-Lab/v15/.suo
Tech-2-ConditionalLoopExercise/.vs/Tech2-ConditionalLoopExercise/DesignTimeBuild/.dtbcache
Tech-2-ConditionalLoopExercise/.vs/Tech2-ConditionalLoopExercise/v15/.suo
Tech-3-DataTypesAndVariablesExercise/.vs/Tech-3-DataTypesAndVariablesExercise/DesignTimeBuild/.dtbcache
Tech-3-DataTypesAndVariablesExercise/.vs/Tech-3-DataTypesAndVariablesExercise/v15/.suo
Tech-3-DataTypesAndVariablesLab/.vs/Tech-3-DataTypesAndVariablesLab/v15/.suo
Tech-3-DataTypesAndVariablesLab/.vs/Tech-3-DataTypesAndVariablesLab/DesignTimeBuild/.dtbcache
Tech-5-ArraysExercise/.vs/Tech-5-ArraysExercise/DesignTimeBuild/.dtbcache
Tech-7-DictionariesLambdaLinq/.vs/DictionariesLambdaLinq/DesignTimeBuild/.dtbcache
Tech-7-DictLambdaLinqExercise/.vs/DictLambdaLinqExercise/DesignTimeBuild/.dtbcache
Tech-7-DictLambdaLinqExercise/P09-ForceBook/.vs/P09-ForceBook/v15/.suo
